div.shift-container {
	display: flex;
	flex-flow: column;
	max-width: 960px;
	margin: 0px auto;
}

div.shift-list {
	display: flex;
	flex-flow: column wrap;
}

div.shift-view-container {
	margin: 20px;
	padding: 10px;
	border: 1px black solid;
}

ul.shift-view {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
	list-style: none;
}

button {
	display: flex;
	align-self: center;
	color: white;
	background-color: #3498db;
	padding: 10px;
}
